@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 1em;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0.05rem;
  background-color: var(--color-grey);
  color: var(--color-darkblue);
  overflow-x: hidden;
}

:root {
  --color-darkblue: #21325e;
  --color-blue: #3e497a;
  --color-yellow: #f1d00a;
  --color-grey: #f0f0f0;
}
a {
  text-decoration: none;
  color: inherit;
}
ul {
  list-style: none;
  padding: 0;
  color: var(--color-darkblue);
  font-weight: bolder;
}
/* Header
  */
header {
  top: 0;
  padding: 1rem;
  padding: 10px;
  height: 15vh;
  background-color: var(--color-grey);
}
.logo {
  width: 100px;
  height: 60px;
}

#hamburger {
  background: none;
  border: none;
  cursor: pointer;
  color: var(--color-darkblue);
}

.menu-bars {
  height: 20px;
  width: 35px;
  margin-left: 5px;
}
#main-menu {
  list-style: none;
  display: none;
}

#main-menu.visible {
  display: block;
  position: fixed;
  top: 80px;
  left: 0;
  width: 100vw;
  padding: 10px;
  margin: auto;
  background-color: var(--color-grey);
  color: var(--color-darkblue);
  align-items: center;
}

#main-menu li {
  margin-top: 10px;
  cursor: pointer;
  padding: 8px;
  text-align: center;
}

#main-menu li:hover {
  text-decoration: none;
  border-radius: 2px;
  box-shadow: var(--color-yellow) 1.95px 1.95px 2.6px;
}

/* TEAM SECTION Cards */
.container {
  display: flex;
  flex-wrap: wrap;
  /* background-color: var(--color-yellow); */
  border-radius: 5px;
  justify-content: center;
  gap: 10px;
}

.card {
  position: relative;
  flex-basis: calc(50% - 5px);
  border: solid 2px #21325e;
  box-sizing: border-box;
  border-radius: 5px;
  overflow: hidden;
}
.pic {
  width: 100%;
  height: 100%;
}
.image-caption {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  padding: 8px;
  display: none;
}

.card.active .image-caption {
  display: block;
}
.card:hover {
  box-shadow: 0 12px 14px rgba(0, 0, 0, 0.2);
}
.card:hover img {
  cursor: pointer;
  transition: transform 0.5s ease;
  transform: scale(1.1) rotate(-2deg);
}
/* Focus for better access with keyboard */
.card:focus {
  outline: 2px solid #21325e;
}

/* Primitives */

.row {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  align-items: center;
}
.column {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

.justify-space-between {
  justify-content: space-between;
}
.center {
  max-width: 60vw;
  margin-left: auto;
  margin-right: auto;
}
.width-sm {
  max-width: 20rem;
}
.width-lg {
  max-width: 40rem;
}
.width-xl {
  max-width: 60rem;
}
.stack-s > * + * {
  margin-top: 0.5rem;
}
.stack-m > * + * {
  margin-top: 1rem;
}

.stack-l > * + * {
  margin-top: 2rem;
}

.stack-xl > * + * {
  margin-top: 4rem;
}

/* IMG & LOGO */

.full-width-img {
  width: 100vw;
  margin-left: calc(-50vw + 50%);
  margin-right: calc(-50vw + 50%);
}

@media screen and (min-width: 768px) {
  #hamburger {
    display: none;
  }

  #main-menu {
    display: flex;
  }
  #main-menu.visible {
    display: flex;
    flex-direction: row;
  }

  #main-menu li {
    margin-top: 0;
    margin-left: 20px;
  }
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    gap: 0.5em;
  }
  .card {
    width: auto;
  }
}
