@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 1em;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0.05rem;
  background-color: var(--color-grey);
  color: var(--color-darkblue);
  overflow-x: hidden;
}
:root {
  --color-darkblue: #21325e;
  --color-blue: #bcc1d7;
  --color-yellow: #f1d00a;
  --color-grey: #f0f0f0;
}
a {
  text-decoration: none;
  color: inherit;
}
ul {
  list-style: none;
  padding: 0;
  color: var(--color-darkblue);
  font-weight: bolder;
}
/* Header */
header {
  top: 0;
  padding: 1rem;
  padding: 10px;
  height: 15vh;
  position: sticky;
  background-color: var(--color-grey);
  z-index: 100;
}
.logo {
  width: 100px;
  height: 60px;
}

#hamburger {
  background: none;
  border: none;
  cursor: pointer;
  color: var(--color-darkblue);
}

.menu-bars {
  height: 20px;
  width: 35px;
  margin-left: 5px;
}
#main-menu {
  list-style: none;
  display: none;
}

#main-menu.visible {
  display: block;
  position: absolute;
  top: 80px;
  left: 0;
  width: 100vw;
  padding: 10px;
  margin: auto;
  background-color: var(--color-grey);
  color: var(--color-darkblue);
  align-items: center;
}

#main-menu li {
  margin-top: 10px;
  cursor: pointer;
  padding: 8px;
  text-align: center;
}

#main-menu li:hover {
  text-decoration: none;
  border-radius: 2px;
  box-shadow: var(--color-yellow) 1.95px 1.95px 2.6px;
}

/* Hero-section */
.hero-pic {
  width: 100%;
  height: auto;
}
.heading {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 4vw;
  text-align: center;
  color: #fff;
  background: radial-gradient(
    circle,
    rgba(0, 0, 0, 0.361),
    rgba(0, 0, 0, 0.059)
  );
  padding: 10px;
  width: 100vw;
}
.hero-container {
  height: 100%;
  position: relative;
}
.hero-container img {
  width: 100%;
  max-height: 100vh;
  object-fit: cover;
}
/* About */
.testimonial {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 15px;
  border: solid 3px;
  border-radius: 5px;
  border-color: var(--color-blue);
}
.testimonial img {
  width: 100px;
  height: 100px;
}
.second-column {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Footer */
.footer {
  background-color: var(--color-darkblue);
  width: 100vw;
  margin-top: 1rem;
  color: var(--color-grey);
  bottom: 0;
  text-align: center;
  padding: 1em;
}

.fa {
  padding: 5px;
  width: 30px;
  border-radius: 5px;
  background: var(--color-grey);
  text-align: center;
  text-decoration: none;
}

/* Primitives */

.row {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  align-items: center;
}
.column {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

.justify-space-between {
  justify-content: space-between;
}
.center {
  max-width: 30rem;
  margin-left: auto;
  margin-right: auto;
}
.width-sm {
  max-width: 20rem;
}
.width-lg {
  max-width: 40rem;
}
.width-xl {
  max-width: 60rem;
}
.stack-s > * + * {
  margin-top: 0.5rem;
}
.stack-m > * + * {
  margin-top: 1rem;
}

.stack-l > * + * {
  margin-top: 2rem;
}

.stack-xl > * + * {
  margin-top: 4rem;
}

/* IMG & LOGO */
.pic {
  width: 30%;
  height: 30%;
}

@media screen and (min-width: 768px) {
  #hamburger {
    display: none;
  }

  #main-menu {
    display: flex;
  }
  #main-menu.visible {
    display: flex;
    flex-direction: row;
  }

  #main-menu li {
    margin-top: 0;
    margin-left: 20px;
  }

  .heading {
    top: 85%;
  }
}
